@mixin icon-size($size, $suffix: $size) {
	.icn-#{$suffix} {
		width: $size;
		height: $size;

		@content;
	}
}

.icn {
	display: inline-block;
	text-align: center;
}

.icn-primary {
	color: $primary;
}

a {
	@include hover-focus() {
		.icn-primary {
			color: $purple;
		}
	}
}

@include icon-size($font-size-sm, "sm");
@include icon-size($font-size-base, "md");
@include icon-size($font-size-lg, "lg");
@include icon-size(#{2 * $font-size-base}, "xl");

.fa::before {
	@include size(30px);
	display: block;
}

.fa-facebook::before {
	content: str-replace(
		url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23666666%22%3E%3Cpath%20style%3D%22transform%3AtranslateX%2850%25%29%22%20d%3D%22M76.7%20512V283H0v-91h76.7v-71.7C76.7%2042.4%20124.3%200%20193.8%200c33.3%200%2061.9%202.5%2070.2%203.6V85h-48.2c-37.8%200-45.1%2018-45.1%2044.3V192H256l-11.7%2091h-73.6v229%22%2F%3E%3C%2Fsvg%3E"),
		"#",
		"%23"
	);
}

.fa-twitter::before {
	content: str-replace(
		url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23666666%22%3E%3Cpath%20d%3D%22M459.37%20151.716c.325%204.548.325%209.097.325%2013.645%200%20138.72-105.583%20298.558-298.558%20298.558-59.452%200-114.68-17.219-161.137-47.106%208.447.974%2016.568%201.299%2025.34%201.299%2049.055%200%2094.213-16.568%20130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772%206.498.974%2012.995%201.624%2019.818%201.624%209.421%200%2018.843-1.3%2027.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969%207.797%2030.214%2012.67%2047.431%2013.319-28.264-18.843-46.781-51.005-46.781-87.391%200-19.492%205.197-37.36%2014.294-52.954%2051.655%2063.675%20129.3%20105.258%20216.365%20109.807-1.624-7.797-2.599-15.918-2.599-24.04%200-57.828%2046.782-104.934%20104.934-104.934%2030.213%200%2057.502%2012.67%2076.67%2033.137%2023.715-4.548%2046.456-13.32%2066.599-25.34-7.798%2024.366-24.366%2044.833-46.132%2057.827%2021.117-2.273%2041.584-8.122%2060.426-16.243-14.292%2020.791-32.161%2039.308-52.628%2054.253z%22%2F%3E%3C%2Fsvg%3E"),
		"#",
		"%23"
	);
}

.fa-linkedin::before {
	content: str-replace(
		url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%20fill%3D%22%23666666%22%3E%3Cpath%20d%3D%22M100.3%20480H7.4V180.9h92.9V480zM53.8%20140.1C24.1%20140.1%200%20115.5%200%2085.8%200%2056.1%2024.1%2032%2053.8%2032c29.7%200%2053.8%2024.1%2053.8%2053.8%200%2029.7-24.1%2054.3-53.8%2054.3zM448%20480h-92.7V334.4c0-34.7-.7-79.2-48.3-79.2-48.3%200-55.7%2037.7-55.7%2076.7V480h-92.8V180.9h89.1v40.8h1.3c12.4-23.5%2042.7-48.3%2087.9-48.3%2094%200%20111.3%2061.9%20111.3%20142.3V480z%22%2F%3E%3C%2Fsvg%3E"),
		"#",
		"%23"
	);
}

.fa-instagram::before {
	content: str-replace(
		url("data:image/svg+xml;charset=utf8,%3Csvg%20%20viewBox%3D%220%200%20448%20512%22%20fill%3D%22%23666666%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M224.1%20141c-63.6%200-114.9%2051.3-114.9%20114.9s51.3%20114.9%20114.9%20114.9S339%20319.5%20339%20255.9%20287.7%20141%20224.1%20141zm0%20189.6c-41.1%200-74.7-33.5-74.7-74.7s33.5-74.7%2074.7-74.7%2074.7%2033.5%2074.7%2074.7-33.6%2074.7-74.7%2074.7zm146.4-194.3c0%2014.9-12%2026.8-26.8%2026.8-14.9%200-26.8-12-26.8-26.8s12-26.8%2026.8-26.8%2026.8%2012%2026.8%2026.8zm76.1%2027.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9%200-35.8%201.7-67.6%209.9-93.9%2036.1s-34.4%2058-36.2%2093.9c-2.1%2037-2.1%20147.9%200%20184.9%201.7%2035.9%209.9%2067.7%2036.2%2093.9s58%2034.4%2093.9%2036.2c37%202.1%20147.9%202.1%20184.9%200%2035.9-1.7%2067.7-9.9%2093.9-36.2%2026.2-26.2%2034.4-58%2036.2-93.9%202.1-37%202.1-147.8%200-184.8zM398.8%20388c-7.8%2019.6-22.9%2034.7-42.6%2042.6-29.5%2011.7-99.5%209-132.1%209s-102.7%202.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7%209-132.1c7.8-19.6%2022.9-34.7%2042.6-42.6%2029.5-11.7%2099.5-9%20132.1-9s102.7-2.6%20132.1%209c19.6%207.8%2034.7%2022.9%2042.6%2042.6%2011.7%2029.5%209%2099.5%209%20132.1s2.7%20102.7-9%20132.1z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E"),
		"#",
		"%23"
	);
}

.fa-downarrow {
	content: str-replace(
		url("data: image/svg+xml;charset=utf-8,%3Csvg%20aria-hidden%3D%22true%22%20data-prefix%3D%22fas%22%20data-icon%3D%22arrow-down%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%20class%3D%22svg-inline--fa%20fa-arrow-down%20fa-w-14%20fa-7x%22%3E%3Cpath%20fill%3D%22#{$white}%22%20d%3D%22M413.1%20222.5l22.2%2022.2c9.4%209.4%209.4%2024.6%200%2033.9L241%20473c-9.4%209.4-24.6%209.4-33.9%200L12.7%20278.6c-9.4-9.4-9.4-24.6%200-33.9l22.2-22.2c9.5-9.5%2025-9.3%2034.3.4L184%20343.4V56c0-13.3%2010.7-24%2024-24h32c13.3%200%2024%2010.7%2024%2024v287.4l114.8-120.5c9.3-9.8%2024.8-10%2034.3-.4z%22%2F%3E%3C%2Fsvg%3E"),
		"#",
		"%23"
	);
}
