@import '../variables.scss';

.filters {
	background: $grey_light;
	border-top: 5px solid var(--subject);
	margin: 0 auto;
	padding: 20px 20px 30px;
	position: relative;
	max-width: 1200px;

	@extend %reset-list;

	.back.btn {
		background: $grey_light;
		border: 1px solid $white;
		color: $grey;
		font-size: 0.8em;
		margin: 0;
		position: absolute;
		top: 10px;
		left: 10px;

		&:active, &:hover, &:focus {
			background: $grey_mid;
			border-color: $grey_mid;
		}
	}

	.desc {
		font-size: 0.8em;
		grid-column: 1 / -1;
		margin: 0 auto 2em;
		text-align: center;
		width: 80%;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 40px;
	}

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		
		&:after {
			border-left: 4.5px dotted $grey;
			content: '';
			position: absolute;
			right: -20px;
			// top: 5px;
			height: 37px;
		}

		&:last-child {
			&:after {
				content: normal;
			}
		}
	}

	button {
		background: $grey_light;
		border: 1px solid $white;
		border-radius: 5px;
		color: $grey;
		cursor: pointer;
		padding: 15px 25px;
		position: relative;
		max-width: 300px;

		&.selected {
			background: $grey_mid;
			border-color: $grey_mid;

			&:before {
				content: '\2715';
			}

			// Uncomment to put a arrow underneath
			&:after {
				// content: '';
			}
		}

		&:before {
			background: $white;
			border-radius: 50%;
			font-size: 10px;
			line-height: 1.4;
			height: 16px;
			position: absolute;
			top: 5px;
			right: 5px;
			width: 16px;
		}

		&:after {
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $grey_mid;
			height: 0;
			position: absolute;
			bottom: -20px;
			left: calc(50% - 20px);
			width: 0;
		}
	}
}

.popup {
	background: $white;
	border: 3px solid $grey;
	display: grid;
	grid-template-rows: auto 300px;
	grid-template-areas: 'text' 'img';
	padding: 20px;
	position: absolute;
	top: -30px;
	right: 0;
	max-width: 400px;
	z-index: 100;

	&.hidden {
		display: none;
	}

	.close {
		background: $white;
		border: 2px solid $grey;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;;
		padding: 0;
		position: absolute;
		height: 40px;
		width: 40px;
		right: -20px;
		top: -20px;

		span {
			position: absolute;
			right: -200vw;
		}

		&:active, &:hover, &:focus {
			background: $blue;
			color: $white;
		}
	}

	img {
		grid-area: img;
		justify-self: end;
		max-height: 300px;
	}

	blockquote {
		$size: 50px;

		background: $blue;
		border: none;
		border-radius: 20px;
		color: $white;
		font-size: 0.7em;
		grid-area: text;
		justify-self: start;
		padding: 30px;
		margin: 0 $size $size 0;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			right: $size;
			bottom: (-1 * $size) + 20px;
			width: 0;
			height: 0;
			border-top: $size solid $blue;
			border-left: $size solid transparent;
			transform: rotate(-10deg);
		}

		.wp-block-buttons {
			a {
				font-size: 1em;
			}
		}
	}
}