@import '../variables.scss';

.filters {
	background: $grey_light;
	border-top: 5px solid var(--subject);
	clear: both;
	margin: 0 auto;
	padding: 20px 20px 30px;
	position: relative;
	max-width: 1200px;

	@extend %reset-list;

	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 40px;
	}

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		
		&:after {
			border-left: 4.5px dotted $grey;
			position: absolute;
			right: -20px;
			// top: 5px;
			height: 37px;
		}
	}

	button {
		background: $grey_light;
		border: 1px solid $white;
		border-radius: 5px;
		color: $grey;
		cursor: pointer;
		padding: 15px 25px;
		position: relative;
		max-width: 300px;

		&.selected {
			background: $grey_mid;
			border-color: $grey_mid;

			&:before {
				content: '\2715';
			}

			// Uncomment to put a arrow underneath
			&:after {
				// content: '';
			}
		}

		&:before {
			background: $white;
			border-radius: 50%;
			font-size: 10px;
			line-height: 1.4;
			height: 16px;
			position: absolute;
			top: 5px;
			right: 5px;
			width: 16px;
		}

		&:after {
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $grey_mid;
			height: 0;
			position: absolute;
			bottom: -20px;
			left: calc(50% - 20px);
			width: 0;
		}
	}
}

.popup {
	background: $white;
	border: 3px solid $grey;
	display: none;
	grid-template-columns: 1fr 50px;
	grid-template-rows: auto 180px;
	grid-template-areas: 'text .' '. img';
	padding: 30px 20px 20px;
	position: fixed;
	top: 20vh;
	right: 10px;
	max-width: 400px;
	z-index: 100;
	overflow: hidden;

	&.open {
		display: grid;
	}

	.close {
		background: $white;
		border: 2px solid $white;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		position: absolute;
		height: 40px;
		width: 40px;
		right: 0;
		top: 0;

		span {
			position: absolute;
			right: -200vw;
		}

		&:active, &:hover, &:focus {
			background: $blue;
			color: $white;
		}
	}

	img {
		grid-area: img;
		justify-self: end;
		max-height: 180px;
		margin-top: 0;
		position: relative;
		max-width: 200px;
		z-index: 10;
	}

	blockquote {
		$size: 50px;

		background: $blue;
		border: none;
		border-radius: 20px;
		color: $white;
		font-size: 0.8em;
		grid-area: text;
		justify-self: start;
		padding: 30px;
		margin: 0 0;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			right: $size * 2;
			bottom: (-1 * $size) + 20px;
			width: 0;
			height: 0;
			border-top: $size solid $blue;
			border-left: $size solid transparent;
			transform: rotate(-10deg);
		}

		.wp-block-buttons {
			a {
				font-size: 1em;
			}
		}
	}
}

@media(min-width: 480px) {
	.popup {
		overflow: visible;
		right: 5vw;

		.close {
			right: -20px;
			top: -20px;
		}
	}
}

@media(min-width: 600px) {
	.popup {
		grid-template-columns: 1fr 100px;
		top: 30vh;
		width: 90vw;
		max-width: 600px;

		img {
			margin-top: -20px;
		}

		blockquote {
			&:before {
				right: 50px;
			}
		}
	}
}

@media(min-width: 800px) {
	.filters {
		li {
			&:after {
				content: '';
			}

			&:last-child {
				&:after {
					content: normal;
				}
			}
		}
	}
}