@import '../variables.scss';

footer {
	background: $yellow;
	color: $grey;
	font-size: 0.8em;
	display: grid;
	grid-template-columns: 1fr 240px;
	grid-gap: 20px;
	padding: 20px 5vw;

	a {
		color: inherit;

		&:active, &:hover, &:focus {
			background: $blue;
			color: #fff;
		}
	}

	nav {
		max-width: 600px;

		ul {
			columns: 2 auto;
		}

	}

	.social {
		ul {
			display: flex;
			flex-wrap: wrap;
		}

		a {
			padding: 5px 10px;
			span {
				position: absolute;
				right: -200vw;
			}
		}

		svg {
			width: 30px;
			height: 30px;
		}
	}

	.copyright {
		text-align: center;
	}
}

@media(min-width:1200px) {
	footer {
		padding: 20px calc(50vw - 500px);
	}
}