@import '../variables.scss';

footer {
	background: $yellow;
	color: $grey;
	font-size: 0.8em;
	display: grid;
	justify-items: center;
	grid-gap: 20px;
	padding: 20px 5vw;

	a {
		color: inherit;

		&:active, &:hover, &:focus {
			background: $blue;
			color: #fff;
		}
	}

	nav {
		width: 100%;
		max-width: 600px;

		ul {
			columns: 2 auto;
		}

	}

	.social {
		max-width: 200px;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		a {
			display: inline-block;
			padding: 5px 10px;
			
			span {
				position: absolute;
				right: -200vw;
			}
		}

		svg {
			width: 30px;
			height: 30px;
		}
	}

	.copyright {
		text-align: center;
	}

	.witwa-logo {
		width: 200px;
	}
}

@media (min-width: 560px) {
	footer {
		grid-template-columns: 1fr 240px;
		justify-items: stretch;

		nav {
			width: auto;
		}
	}
}

@media (min-width: 800px) {
	footer {
		.witwa-logo {
			width: 300px;
		}
	}
}

@media(min-width:1200px) {
	footer {
		padding: 20px calc(50vw - 500px);
	}
}