// stylelint-disable
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$purple: #702c8d;
$purple-light: #af89bf;
$red: #bf1e2d;
$orange: #f15a29;
$yellow: #f9ed33;
$green: #bfd73b;
$teal: #00a9a3;
$teal-light: #70cfcb;

$colors: ();
$colors: map-merge(

	(
		"purple": $purple,
		"red": $red,
		"orange": $orange,
		"yellow": $yellow,
		"green": $green,
		"teal": $teal,
		"white": $white,
		"gray": $gray-600,
		"gray-dark": $gray-800
	),
	$colors
);

$primary: $teal;
$secondary: $orange;
$info: $teal;

$spacer: 1rem;

$body-color: #666;
$body-circle-yellow: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='#{$yellow}'/%3E%3C/svg%3E"),
	"#",
	"%23"
);
$body-circle-purple: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='#{$purple}'/%3E%3C/svg%3E"),
	"#",
	"%23"
);
$body-circle-teal: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='#{$teal}'/%3E%3C/svg%3E"),
	"#",
	"%23"
);
$body-circle-green: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='#{$green}'/%3E%3C/svg%3E"),
	"#",
	"%23"
);
$body-circle-orange: str-replace(
	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='#{$orange}'/%3E%3C/svg%3E"),
	"#",
	"%23"
);

$link-hover-color: $purple;
$link-hover-decoration: none;

$headings-color: $primary;
$headings-font-weight: 300;

$text-muted: $gray-500;

$input-btn-padding-y: $spacer * 0.5;

$btn-padding-x: $spacer * 2;

$btn-border-radius: 10rem;

$input-border-color: $gray-300;

$font-size-xs: 0.75rem;

// Filter colours by code
$arts: "the-arts";
$science-and-maths: "science-and-maths";
$physical-education: "physical-education-and-health";
$social-sciences: "english-and-social-sciences";
