.filter-container {
	margin-top: -1.5 * $spacer;
}

.filter {
	position: relative;
	flex-grow: 0;
	word-wrap: break-word;
	white-space: normal;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.filter-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 1rem;
	height: 1rem;
}

.filter-subject {
	font-size: $font-size-sm;
	line-height: 1.1rem;
}

.filter-divider {
	height: 32px;
}

.filter-alignment-row {
	max-width: 65%;
	background-color: $gray-200;
}

.filter-sentence {
	padding: 8px 16px;
	font-size: $font-size-sm;
	line-height: 1.1rem;
	background-color: $gray-100;
	border: 2px solid $white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	@include hover-focus() {
		background-color: $gray-300;
	}

	&.active {
		background-color: $gray-300;
		border: 0 solid $gray-300;

		&::after {
			bottom: -20px;
			border-top: 20px solid $gray-300;
		}
	}
}

.filter-alignment {
	background-color: $gray-200;
	border: 2px solid $white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&.active {
		background-color: $gray-300;
		border: 2px solid $gray-300;
	}

	@include hover-focus() {
		background-color: $gray-300;
	}
}

@include media-breakpoint-down(sm) {
	.filter-subject {
		margin-bottom: 10px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		
		.filter-close {
			top: 8px;
			right: 5px;
		}
	}
	
	.filter-sentence-row,
	.filter-alignment-row {
		margin: 0 15px;
	}

	.filter-alignment-row {
		max-width: 100%;
	}
	
	.alignment-container {
		position: static;
		transform: none;
	}
}

@include media-breakpoint-up(md) {
	.filter {
		&.active {
			&::after {
				position: absolute;
				right: 0;
				left: 0;
				z-index: 1;
				width: 10px; 
				height: 0;
				margin-right: auto;
				margin-left: auto;
				content: "";
				border-right: 20px solid transparent;
				border-left: 20px solid transparent;
			}
		}
	}

	.alignment-container {
		position: relative;
		transform: translateX(-50%);
	}

	.filter-subject {
		flex-basis: 22%;
		max-width: 22%;

		&.active {
			&::after {
				bottom: -24px;
			}
		}
	}

	.filter-sentence {
		flex-basis: 22%;
		max-width: 22%;

		&.active {
			&::after {
				border-top: 20px solid $gray-300;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.filter-sentence-row,
	.filter-alignment-row {
		margin: 0 (8 * $spacer);
	}
}
