footer a {
	font-size: $font-size-sm;
	color: $body-color;
	fill: $body-color;

	@include hover-focus() {
		color: darken($body-color, 10%);
		fill: darken($body-color, 10%);
	}
}

.footer-copyright {
	font-size: $font-size-base;
}

.twenty-years {
	width: 100%;
	max-width: 200px;
}

@include media-breakpoint-up(md) {
	.footer-columns {
		columns: 2;
	}
}
