// A mixin to generate all colour styles for each subject
@mixin subject-colors($id, $color, $light-color: "") {
	@if ($light-color == "") {
		$light-color: lighten($color, 18%);
	}

	.subject-#{$id} {
		.content-card,
		.subject-tile {
			background-color: $color;
		}

		.content-card .content-description {
			text-shadow:  0 1px 3px $color;
		}

		.title-container {
			text-shadow: 0 1px 3px rgba($black, 0.2);
			background-color: $light-color;
		}

		&.filter-subject {
			background-color: $color;
			border-color: $color;

			@include hover-focus() {
				background-color: darken($color, 10%);
				border-color: darken($color, 10%);
			}

			&::after {
				border-top: 20px solid $color
			}

		}

		@include hover-focus() {
			.title-container {
				background-color: $color;
			}

			.content-description {
				background-color: $light-color;
			}
		}
	}

	.filter-border-#{$id} {
		border-bottom: 4px solid $color;
	}
}


