$modal-max-width: 900px;

.modal {
	display: block;

	.close {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2 * $spacer;
		height: 2 * $spacer;
		background-color: $white;
		border-radius: 50%;
		opacity: 1;
		transform: translate(50%, -50%);


		& > * {
			position: relative;
			top: -3px;
			font-size: 2rem;
			font-weight: 100;
			opacity: 0.5;
		}
	}

}

.modal-backdrop {
	z-index: $zindex-modal-backdrop;
	background-color: rgba($gray-500, 0.5);
}

.modal-content-container {
	max-height: 80vh;
	overflow: auto;
}

.modal-inner {
	position: relative;
	top: 50%;
	left: 50%;
	z-index: $zindex-modal;
	max-width: $modal-max-width;
	max-height: 80vh;
	background-color: $white;
	transform: translate(-50%, -50%);
}

.modal-header,
.modal-footer {
	flex-shrink: 0;
}

@media (max-width: $modal-max-width) {
	.modal-inner {
		max-width: calc(100vw - #{4 * $spacer});
	}
}
