@include subject-colors($arts, $orange);
@include subject-colors($physical-education, $teal, $teal-light);
@include subject-colors($science-and-maths, $purple, $purple-light);
@include subject-colors($social-sciences, $green);

.subjects-container {
	flex-grow: 1;
	padding: 100px 0 200px 0;
	margin-top: -1.5rem;
	margin-bottom: -1.5rem;
	background: url("../images/dotty_bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.subject-card {
	height: 250px;
	overflow: hidden;
	color: $white;
	background-color:transparent;

	.content-card {
		margin-top: 1.5 * $spacer;
		border-radius: 0.3 * $spacer;

		.title-container {
			height: 60px;
			font-size: $font-size-lg;
			font-weight: 600;
			flex-shrink: 0;
			border-radius: 0 0 0.3rem 0.3rem;
		}
	}

	.content-description {
		display: none;
		flex-shrink: 1;
		border-radius: 0.3rem 0.3rem 0 0;
	}

	.content-image {
		left: 50%;
		width: 120%;
		transform: translateX(-50%);
	}
}

.subject-tile {
	width: 100%;

	* {
		white-space:  normal;
	}

	@include hover-focus() {
		.content-description {
			position: relative;
			display: flex;
		}
	}

	@include media-breakpoint-down(xs) {
		width: 90%;
		max-width: 260px;
		margin: auto;

		.subject-card {
			height: 300px;
		}
	}
}

.subject-tile-container:nth-child(even) {
	top: 50px;
}

.decision-button {
	display: none;

	.btn {
		font-size: 1.5rem;
	}
}

button.career-hover * {
	pointer-events: none;
}

@include media-breakpoint-down(sm) {
	.subjects-container {
		padding: 20px 0 40px 0;

		.subject-tile-container {
			top: 0;
		}
	}
}

@include media-breakpoint-only(sm) {
	.subjects-container .row {
		margin-right: -25px;
		margin-left: -25px;
	}

	.subject-card {
		height: 280px;
	}
}

@include media-breakpoint-only(lg) {
	.subject-card {
		height: 285px;
	}
}
