@import './variables.scss';

main {
	--background: url('/img/background.png');

	margin: 0 auto;
}

.colour-container {
	background: var(--background);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	position: relative;
	overflow: hidden;
	width: 100vw;	

	&:before, &:after {
		border-radius: 50%;
		content: '';
		position: absolute;
		height: 200px;
		width: 200px;
		z-index: -1;
	}

	&:before {
		background: $blue;
		top: 70px;
		left: -120px;
	}

	&:after {
		background: $green;
		height: 250px;
		width: 250px;
		bottom: 100px;
		right: -150px;
	}

	> .container {
		padding: 20px 5vw;
		max-width: 1200px;
		margin: 0 auto;

		&:before {
			background: $orange;
			border-radius: 50%;
			content: '';
			position: absolute;
			height: 400px;
			width: 400px;
			bottom: -320px;
			left: calc(50% - 200px);
			z-index: -1;
		}
	}
}

.avatar-speech {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 'text .' 'text img' '. img';

	img {
		grid-area: img;
		max-height: 300px;
	}

	blockquote {
		$size: 100px;

		background: $white;
		border: none;
		border-radius: 20px;
		color: $main;
		grid-area: text;
		padding: 30px;
		margin-bottom: $size;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			right: $size;
			bottom: (-1 * $size) + 20px;
			width: 0;
			height: 0;
			border-top: $size solid $white;
			border-left: $size solid transparent;
			transform: rotate(-10deg);
		}
	}
}

.subject-areas {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-column-gap: 20px;
	padding-top: 50px;

	a {
		padding-top: 20px;
		overflow: hidden;
		text-decoration: none;

		&:nth-child(2n) {
			margin-top: 50px;
		}

		&:nth-child(2n-1) {
			margin-bottom: 50px;
		}
	
		&:active, &:hover, &:focus {
			background: none;

			.desc {
				display: block;
			}

			figcaption {
				&:before {
					content: normal;
				}
			}
		}
	}

	figure {
		background: var(--subjectBackground);
		border-radius: 5px;
		display: grid;
		grid-template-rows: 170px 3em;
		grid-template-areas: 'img' 'name';
		margin: 0;
		position: relative;
	}

	img {
		justify-self: center;
		margin-top: -20px;
		width: 120%;
		max-width: unset;
		position: absolute;
		z-index: 0;
	}

	figcaption {
		color: $white;
		background: var(--subjectBackground);
		border-radius: 00 5px 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		grid-area: name;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		z-index: 1;

		&:before {
			background: rgba(255, 255, 255, 0.45);
			content: '';
			@extend %cover;
			z-index: -5;
		}
	}

	.desc {
		background: var(--subjectBackground);
		border-radius: 5px 5px 0 0;
		color: $white;
		display: none;
		font-size: 0.7em;
		grid-area: img;
		padding: 10px 15px;
		position: relative;
		text-align: center;
		z-index: 5;

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:before {
			background: rgba(255, 255, 255, 0.45);
			content: '';
			@extend %cover;
			z-index: -5;
		}
	}
}

.wp-block-buttons {
	display: flex;
	justify-content: space-around;

	a {
		@extend %button;
		background: $primary;
		color: $main;
		display: block;
		margin: 10px 20px;

		// Background Colours
		&[class*="purple-background"] {
			background: $purple;
		}

		&[class*="yellow-background"] {
			background: $yellow;
		}

		&[class*="green-background"] {
			background: $green;
		}

		&[class*="blue-background"] {
			background: $blue;
		}

		&[class*="orange-background"] {
			background: $orange;
		}

		&[class*="maroon-background"] {
			background: $maroon;
		}

		&[class*="grey-background"] {
			background: $grey;
		}

		&[class*="black-background"] {
			background: $black;
		}

		&[class*="white-background"] {
			background: $white;
		}

		// Text Colours
		&[class*="purple-color"] {
			color: $purple;
		}

		&[class*="yellow-color"] {
			color: $yellow;
		}

		&[class*="green-color"] {
			color: $green;
		}

		&[class*="blue-color"] {
			color: $blue;
		}

		&[class*="orange-color"] {
			color: $orange;
		}

		&[class*="maroon-color"] {
			color: $maroon;
		}

		&[class*="black-color"] {
			color: $main;
		}

		&[class*="white-color"] {
			color: $white;
		}

		&[class*="grey-color"] {
			color: $grey;
		}

		&:active, &:hover, &:focus {
			background: $primary;
			color: $main;
			text-decoration: underline;

			// Background Colours
			&[class*="purple-background"] {
				color: $purple;
			}

			&[class*="yellow-background"] {
				color: $yellow;
			}

			&[class*="green-background"] {
				color: $green;
			}

			&[class*="blue-background"] {
				color: $blue;
			}

			&[class*="orange-background"] {
				color: $orange;
			}

			&[class*="maroon-background"] {
				color: $maroon;
			}

			&[class*="grey-background"] {
				color: $grey;
			}
	
			&[class*="black-background"] {
				color: $black;
			}
	
			&[class*="white-background"] {
				color: $white;
			}

			// Text Colours
			&[class*="purple-color"] {
				background: $purple;
			}

			&[class*="yellow-color"] {
				background: $yellow;
			}

			&[class*="green-color"] {
				background: $green;
			}

			&[class*="blue-color"] {
				background: $blue;
			}

			&[class*="orange-color"] {
				background: $orange;
			}

			&[class*="maroon-color"] {
				background: $maroon;
			}

			&[class*="black-color"] {
				background: $main;
			}

			&[class*="white-color"] {
				background: $white;
			}

			&[class*="grey-color"] {
				background: $grey;
			}
		}
	}
}

@media(min-width: 480px) {
	
}